<div class="panel-body table-responsive">
    <table id="apps-list" class="table">
        <thead>
            <tr>
                <th class="col-sm-3">name</th>
                <th class="col-sm-7">url</th>
                <th class="col-sm-1">events</th>
                <th class="col-sm-1">dashboard</th>
                <th class="col-sm-1">remove</th>
            </tr>
        </thead>
        <tbody>
            <% apps.each do |app| %>
            <tr class="apps-listing">
                    <td><%= app.title %></td>
                    <td><%= app.url %></td>
                    <td class="text-center"><%= app.events.count %></td>
                    <td class="text-center">
                        <%= link_to registered_application_path(app.id) do %>
                            <span class="glyphicon glyphicon-dashboard"></span>
                        <% end %>
                    </td>
                    <td class="text-center">
                        <%= link_to app, method: :delete, title: 'remove app', data: { confirm: "Are you sure you would like to remove this App?" } do %>
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        <% end %>
                    </td>
            </tr>
        </tbody>
        <% end %>
    </ul>
</div>