    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 panel-heading">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Application Dashboard for: <strong><%= @app.title %></strong><br>
                        URL: <%= link_to @app, title: "nope, not going anywhere bub" do %>
                            <strong><%= @app.url %></strong><br>
                        <% end %>
                        Total Event Types: <strong><%= @events.count %></strong>
                    </div>
                    
                    <div class="panel-body">
                        <div class="panel-heading"><strong>Utilizing <%= link_to "Chartkick", url: "https://github.com/ankane/chartkick" %> gem</strong></div>
                        <div class="panel-body">
                            <div class="row">
                                <%= column_chart @app.events.group(:name).count %>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel-footer">
                        <div class="row">
                            <%= render partial: 'events', locals: { events: @events } %>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>